!!!
%html
  %head
    %title Mongo Bayesian RSS
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css', :media => 'screen' }
  %body
    #header
      #session
        %p
          - if logged_in?
            %p<
              logged in as
              = session[:user]['real_name']
            %p<
              %a{:href => '/logout'} logout
          - else
            %p<
              %a{:href => '/login'} login
      #title
        %a{ :href => '/' }
          %h1 Mongo Bayesian RSS
    #navigation
      %ul
        - nav_link( '/', 'Home' )
        - nav_link( '/subscriptions', 'Subscriptions' )
    #content
      #flash
        - if flash[:error]
          .error= flash[:error]
        - if flash[:notice]
          .notice= flash[:notice]
      = yield
    #footer
      %code&= session.inspect
