!!!
%html
  %head
    %title Mango RSS
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css', :media => 'screen' }
    %script{ :type => 'text/javascript', :src => '/jquery-1.3.2.min.js' }
    :javascript
      $(document).ready(function(){
        $("#flash > .notice")
        .animate({opacity: 1.0}, 3000)
        .animate({opacity: 0.0}, 300)
        .slideUp("slow")
      });
  %body
    #header
      #session
        %p
          - if logged_in?
            %p<
              logged in as
              = session[:user]['real_name']
            %p<
              %a{:href => '/logout'} logout
          - else
            %p<
              %a{:href => '/login'} login
      #title
        %a{ :href => '/' }
          %h1
            %img{ :src => '/mongo_leaf.png' }
            Mango RSS
    #body
      #content
        #flash
          - if flash[:error]
            .error= flash[:error]
          - if flash[:notice]
            .notice= flash[:notice]
        - if @show_feed_menu
          = haml :feed_menu, :layout => false
        = yield
    #sidebar
      #navigation
        %ul
          - nav_link( '/', 'Read' )
          - nav_link( '/feeds', 'Explore' )
          - nav_link( '/subscriptions', 'Manage' )
      -# - if @show_feed_menu
        = haml :feed_menu, :layout => false
    #footer
      %code&= session.inspect
