!!!
%html
  %head
    %title Mongo Bayesian RSS
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css', :media => 'screen' }
  %body
    #header
      #session
        %p
          - if session['user']
            %p<
              logged in as
              = session['user']['real_name']
            %p<
              %a{:href => '/logout'} logout
          - else
            %p<
              %a{:href => '/login'} login
      #title
        %a{ :href => '/' }
          %h1 Mongo Bayesian RSS
      #flash
        - if flash[:error]
          .error= flash[:error]
        - if flash[:notice]
          .notice= flash[:notice]
    #navigation
      %ul
        %li< 
          %a{ :href => '/', :class => request.path_info == '/' ? 'current' : nil } Home
        %li<
          %a{ :href => '/subscriptions', :class => request.path_info == '/subscriptions' ? 'current' : nil } Subscriptions
    #content
      = yield
    #footer
      %code&= session.inspect
